<div class="header">
  <div *ngIf="user$ | async as user" class="header__actions">
    <button *ngIf="user?.data?.user" mat-raised-button color="primary" (click)="addAddress.emit()">
      <mat-icon>add</mat-icon>
      Pridat IP adresu
    </button>
    <button mat-raised-button (click)="onAdmin()">
      <mat-icon>settings</mat-icon>
    </button>
    <button *ngIf="user?.data?.user" mat-raised-button (click)="logout.emit()">
      Odhlasit
    </button>
    <!--              <button mat-raised-button (click)="openConfig.emit()">-->
    <!--                  <mat-icon>settings</mat-icon>-->
    <!--                  Nastavenia-->
    <!--              </button>-->
  </div>
</div>
