<div class="header">
  <div class="header__input">
    <form (ngSubmit)="onSubmit()">
      <input name="address" type="text" placeholder="Zadaj IP adresu" [(ngModel)]="ipAddress">
      <button type="submit">Pridat IP adresu</button>
    </form>
    <div class="clientName">{{ clientName }}</div>
    <button (click)="onConfig()">config</button>
  </div>

  <div class="list">
    <div *ngFor="let addr of addresses; index as i">
      {{ 'Komresor: ' + (i + 1) + ', IP adresa: ' + addr }}
    </div>
  </div>
</div>

<div *ngIf="isConfig" class="config">
  <div>
    <label>Klient</label>
    <input name="width" type="text" [(ngModel)]="clientName">
  </div>
  <div>
    <label>sirka</label>
    <input name="width" type="text" [(ngModel)]="width">
  </div>
  <div>
    <label>vyska</label>
    <input name="height" type="text" [(ngModel)]="height">
  </div>
</div>
<div class="wrapper">
  <div *ngFor="let addr of addresses; index as i" class="view"
       [ngStyle]="{ width: width + 'px', height: height + 'px' }">
    {{ 'Komresor: ' + (i + 1) + ', IP adresa: ' + addr }}
    <iframe [src]="addr" width="100%" height="100%"></iframe>
  </div>
</div>
