<div class="app-body">
  <app-header
    [title]="clientData?.name"
    [subtitle]="clientData?.subtitle"
    [technician]="clientData?.technician"
  ></app-header>

  <app-action-header
    (addAddress)="onAddAddress()"
    (openConfig)="onConfig()"
    (reload)="onReload()"
  ></app-action-header>

  <div class="app-content">
    <div class="short-list">
      <mat-label>Kompresory:</mat-label>
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let addr of addresses; index as i" selectable="false">
          {{ "Kompresor: " + (i + 1) + ", IP adresa: " + addr.ip }}
        </mat-chip-option>
        <div class="short-list__empty" *ngIf="!addresses.length">
          Ziadne kompresory pridane. Pridaj IP adresy.
        </div>
      </mat-chip-listbox>
    </div>

    <div class="frames">
      <div
        *ngFor="let addr of addresses; index as i"
        class="frames__view"
        [ngStyle]="{ height: height + 'px' }"
      >
        <div class="frames__view__header">
          <h4>{{ "Komresor: " + (i + 1) + ", IP adresa: " + addr?.ip }}</h4>
          <button
            *ngIf="isAuthorized$ | async"
            class="remove-action"
            mat-flat-button
            aria-label="Remove frame"
            (click)="onRemove(i)"
          >
            <mat-icon>close</mat-icon>
            Zmazat
          </button>
        </div>
        <iframe [src]="addr?.safeUrl" width="100%" height="100%"></iframe>
      </div>
    </div>
  </div>

  <div class="footer">IDEAL - Trade Service spol. s r.o.</div>
</div>
